/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100&family=IM+Fell+English+SC&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Poiret+One&display=swap');

/* Social Media Fonts */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Global */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

video{
	background-color: black;
}

/* Home */
.service{
	font-family: 'IM Fell English SC', serif;
	color: #6c699e;
}

/* Sermons */
.speaker{
	font-family: 'Gluten', cursive;
    	color: black;
}

/* Media */

.hide{
	display: none;
}
.more{
	font-family: 'Gluten', cursive;
	background-color: #9896b9;
    color: white;
    padding: 6px 10px 6px 10px;
    border: 2px solid darkblue;
    border-radius: 12px;
}

.less{
	font-family: 'Gluten', cursive;
	background-color: #9896b9;
    color: white;
    padding: 6px 10px 6px 10px;
    border: 2px solid darkblue;
    border-radius: 12px;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img, video {
  margin-top: 12px;
  height: 350px;
  width: 100%;
  border: 1px solid #474569;
}
@media only screen and (max-width: 600px) {
	.mobileColumn{
		position: sticky;
		left: 5em
	}
	.column img, video{
		width: 200px;
		height: 250px;
	}
    video{
	  height: 250px;
	}
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Contact */

.mail{
	color: #6c699e;
	display: inline-block;
    font-weight: 400;
	font-size: 1rem;
	font-family: 'Kalam', cursive;
	/* Extra fonts for email link */
	/*
	
	font-family: 'Poiret One', cursive;
	*/
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
	-webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;#5c5982;
    background-color: transparent;
    border: 1px solid blue;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.mail:hover{
	color: #6c699e;
	text-decoration: underline;
	border: 1.5px solid blue;
	/*background-color: lightblue; */
}
.phone{
	display: inline-block;
    font-weight: 400;
	font-size: 1rem;
	font-family: 'Lora', serif;
    line-height: 1.5;
    color: #6c699e;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid green;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.phone:hover{
	color: #5c5982;
	text-decoration: underline;
	border: 1.5px solid green;
	/*background-color: lightgreen;*/
}

/* Social Media */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 75px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
